<div class="container flex row">
  <div class="img-container">
    <img
      src="https://artic-web.imgix.net/8e2ae008-16a6-4f66-9f0e-9b9a5fc2778d/V05_P04-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C585%2C3000%2C1687&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1500&h=844"
      alt="home-img"
      height="300px"
      width="450px"
    />
  </div>
  <div class="text-content flex column">
    <p class="title">
      The <span appHighlightRed>Art</span> Institute of
      <span appHighlightRed>Chicago</span>
    </p>
    <p class="subtitle">
      Home to a collection of art that spans centuries and the globe, the Art
      Institute of Chicago is located in the heart of the city—and is one of
      Tripadvisor’s “Best of the Best” US attractions of 2023.
    </p>
  </div>
</div>
