<div class="container flex row">
  <div class="img-container">
    <img
      src="https://artic-web.imgix.net/8e2ae008-16a6-4f66-9f0e-9b9a5fc2778d/V05_P04-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C585%2C3000%2C1687&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1500&h=844"
      alt="home-img"
      height="300px"
      width="450px"
    />
  </div>
  <div class="text-content flex column">
    <p class="title">
      The <span appHighlightRed>Art</span> Institute of
      <span appHighlightRed>Chicago</span>
    </p>
    <p class="subtitle">
      Home to a collection of art that spans centuries and the globe, the<span
        appHighlightRed
      >
        Art Institute of Chicago</span
      >
      is located in the heart of the city—and is one of Tripadvisor’s “<span
        appHighlightRed
        >Best of the Best</span
      >” US attractions of 2023.
    </p>
    <div>
      <button
        mat-raised-button
        appHighlightRed
        (click)="myRouter.redirectToUrl('explore')"
      >
        Explore Artwork
      </button>
    </div>
  </div>
</div>
<div class="cards-container flex row center">
  <!-- This opens all artworks? -->
  <app-card
    title="Camille Claudel"
    subtitle="Oct 7,2023-Feb 19,2024"
    imgSrc="https://artic-web.imgix.net/7b336bcf-fab7-4faa-817f-8f15d3c904eb/gm_390711EX3_Original_Image17_Claudelimagebank-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C279%2C2384%2C1340&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1500&h=843"
    [isAlt]="true"
  ></app-card>

  <!-- This opens favorites? -->
  <app-card
    title="Among Friends and Rivals: Caravaggio in Rome"
    subtitle="Sep 8-Dec 31, 2023"
    imgSrc="https://artic-web.imgix.net/3bc33675-1655-4db2-8a7c-0c767b39414e/Caravaggio-TheCardshaprs%3BAP1987_06Caravaggio-unframed-cc-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C0%2C3000%2C1688&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=1500&h=844"
    [isAlt]="true"
  ></app-card>
</div>
